@using Votus.Core
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @if (Request.Url.Host.EndsWith("votus.org")) {
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-47071144-1', 'votus.org');
              ga('send', 'pageview');

            </script>
        }
    </head>
    <body>
        @RenderBody()
        
        <footer>
            @{
                var version = typeof(Votus.Web.Global)
                    .Assembly
                    .GetName()
                    .Version;

                var environmentName = DependencyResolver
                    .Current
                    .GetService<ApplicationSettings>()
                    .EnvironmentName;
            }
            
            ver: <a id="SystemVersionInfo" href="https://votus-org.atlassian.net/builds/browse/VOT-CD-@version.Build">@version</a>, env: <span id="EnvironmentName">@environmentName</span>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/knockoutjs")
        @Scripts.Render("~/bundles/votus")
        @RenderSection("scripts", required: false)
    </body>
</html>
